html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  @extend %base-text;

  background-color: var(--app-bg-page);
  color: var(--app-text-base);
  transition:
    color 0.3s ease-out,
    background-color 0.3s ease-out;
}

button,
a,
input,
select,
textarea {
  &:focus {
    outline: 1px solid var(--app-primary);
  }
}

html,
body,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
b,
strong,
div,
header,
footer,
section,
article,
aside,
code,
button,
input,
textarea,
form,
img,
pre {
  font-family: "Montserrat", "Aria", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));
  padding: 0 var(--container-padding);
  width: 100%;
  margin: 0 auto;
}

button,
.button-style-reset {
  @include button-style-reset();
}

.balance-trend-widget-tooltip {
  padding: 4px;
}
.balance-trend-widget-tooltip__date {
  font-size: 14px;
  margin-bottom: 8px;
}
.balance-trend-widget-tooltip__value {
  font-size: 18px;

  span {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.spending-categories-widget-tooltip {
  text-align: center;
  font-size: 14px;
}
.spending-categories-widget-tooltip__name {
  margin-bottom: 4px;
  font-size: 12px;
}
