$primary-color: #2ecc71;

:root {
  --primary-text-color: #333;

  @each $shade, $color in makeColorPalette($primary-color) {
    --primary-#{$shade}: #{$color};
    --primary-#{$shade}-rgb: #{hextorgb($color)};
  }

  // app elements color
  @each $cssVar, $value in (
    --app-bg-color: #fafafa,
    --app-surface-color: #fff,
    --app-on-bg-color: #333,
    --app-on-surface-color: #222,
  ) {
    #{$cssVar}: $value;
    #{$cssVar}-rgb: #{hextorgb($value)};
  }

  @media (prefers-color-scheme: dark) {
    @each $cssVar, $value in (
      --app-bg-color: #121212,
      --app-surface-color: #1E1E1E,
      --app-on-bg-color: #E1E1E1,
      --app-on-surface-color: #E3E3E3,
    ) {
      #{$cssVar}: $value;
      #{$cssVar}-rgb: #{hextorgb($value)};
    }
  }

  --system-border-radius: 6px;

  // sizes
  --container-width: 1200px;
  --container-padding: 32px;
  --header-height: 61px;
  --footer-height: 280px;

  --container-right-corner: calc(((100vw - var(--container-width)) / 2) + var(--container-width));
  --container-left-corner: calc(((100vw - var(--container-width)) / 2));

  @include respond-to-custom-width(840) {
    --container-padding: 24px;
  }

  // z-indexes
  --z-select-field: 1;
  --z-category-select-field: 1;
  --z-modal: 10;
}
