$primary-color: #2ecc71;

body {
  --primary-text-color: #333;

  @each $shade, $color in makeColorPalette($primary-color) {
    --primary-#{$shade}: #{$color};
    --primary-#{$shade}-rgb: #{hextorgb($color)};
  }

  // app elements color
  --app-income-color: var(--primary-500);
  --app-income-color-rgb: var(--primary-500-rgb);

  @each $cssVar, $value in (
    --app-expense-color: #e74c3c,
    --app-transfer-color: #95a5a6,

    --app-danger-color: #e1301c,
    --app-warning-color: #e5971c,
    --app-success-color: #059134,

    --app-bg-color: #fafafa,
    --app-surface-color: #fff,
    --app-surface-color-hover: #f5f5f5,
    --app-on-bg-color: #333,
    --app-on-surface-color: #222,
  ) {
    #{$cssVar}: $value;
    #{$cssVar}-rgb: #{hextorgb($value)};
  }

  &.dark {
    @each $cssVar, $value in (
      --app-danger-color: #532219,
      --app-warning-color: #5d4d16,
      --app-success-color: #103b31,

      --app-bg-color: #121212,
      --app-surface-color: #1E1E1E,
      --app-surface-color-hover: #252525,
      --app-on-bg-color: #E1E1E1,
      --app-on-surface-color: #E3E3E3,
    ) {
      #{$cssVar}: $value;
      #{$cssVar}-rgb: #{hextorgb($value)};
    }
  }

  --system-border-radius: 6px;

  // sizes
  --container-width: 1200px;
  --container-padding: 32px;
  --header-height: 61px;
  --footer-height: 280px;

  --container-right-corner: calc(((100vw - var(--container-width)) / 2) + var(--container-width));
  --container-left-corner: calc(((100vw - var(--container-width)) / 2));

  @include respond-to-custom-width(840) {
    --container-padding: 24px;
  }

  // z-indexes
  --z-select-field: 1;
  --z-category-select-field: 1;
  --z-modal: 10;
  --z-notifications: 20;
}
