@import "./colors";

$primary-color: #2ecc71;
$danger-color: #e1301c;

body {
  --app-color-primary: var(--app-base-color-brand-light-500);

  --app-border-default: #DFDFE3;
  --app-border-disabled: #D0D1DA;

  --app-bg-page: #F4F5F7;
  --app-bg-box: #FFFFFF;
  --app-bg-box-hover: #F5F5F5;
  --app-bg-field-disabled: #FAFAFA;
  --app-bg-navbar: #191919;

  --app-buttons-light-bg: #F2ECFD;

  @each $shade, $color in makeColorPalette($primary-color) {
    --primary-#{$shade}: #{$color};
    --primary-#{$shade}-rgb: #{hextorgb($color)};
  }

  @each $shade, $color in makeColorPalette($danger-color) {
    --danger-#{$shade}: #{$color};
    --danger-#{$shade}-rgb: #{hextorgb($color)};
  }

  // app elements color
  --app-income-color: var(--primary-500);
  --app-income-color-rgb: var(--primary-500-rgb);

  @each $cssVar, $value in (
    --app-primary: #7E56DA,
    --app-error: #E05744,
    --app-success: #27AE60,
    --app-expense-color: #e74c3c,
    --app-transfer-color: #95a5a6,

    --app-danger-color: $danger-color,
    --app-danger-color-text: $danger-color,
    --app-warning-color: #e5971c,
    --app-success-color: #059134,

    --app-bg-color: #fafafa,
    --app-on-bg-color: #333,
    --app-surface-color: #fff,
    --app-surface-color-hover: #f5f5f5,
    --app-on-surface-color: #222,
  ) {
    #{$cssVar}: $value;
    #{$cssVar}-rgb: #{hextorgb($value)};
  }

  &.dark {
    --app-border-default: #616161;
    --app-border-disabled: #383838;

    --app-bg-page: #161616;
    --app-bg-box: #333333;
    --app-bg-box-hover: #444444;
    --app-bg-field-disabled: #2C2C2C;
    --app-bg-navbar: #252525;

    // TODO: add in design
    --app-buttons-light-bg: #F2ECFD;

    @each $cssVar, $value in (
      --app-primary: #8E6BDF,
      --app-error: #E46A5A,
      --app-success: #2CC36B,

      --app-danger-color: #532219,
      --app-warning-color: #5d4d16,
      --app-success-color: #103b31,

      --app-bg-color: #121212,
      --app-on-bg-color: #E1E1E1,
      --app-surface-color: #1E1E1E,
      --app-surface-color-hover: #252525,
      --app-on-surface-color: #E3E3E3,
    ) {
      #{$cssVar}: $value;
      #{$cssVar}-rgb: #{hextorgb($value)};
    }
  }

  --system-border-radius: 6px;

  // sizes
  --container-width: 1200px;
  --container-padding: 32px;
  --header-height: 77px;
  --footer-height: 280px;

  --container-right-corner: calc(((100vw - var(--container-width)) / 2) + var(--container-width));
  --container-left-corner: calc(((100vw - var(--container-width)) / 2));

  @include respond-to-custom-width(840) {
    --container-padding: 24px;
  }

  // z-indexes
  --z-select-field: 1;
  --z-category-select-field: 1;
  --z-modal: 10;
  --z-notifications: 20;
}
