.form-wrapper__error-list {
  display: grid;
  grid-gap: 8px;

  margin-bottom: 16px;
}
.form-wrapper__error {
  text-align: center;
  color: var(--app-danger-color-text);
  font-size: 14px;
  line-height: 1.3;
}
