body {
  --app-text-base: var(--abc-text-black-base);
  --app-text-secondary: var(--abc-text-black-secondary);
  --app-text-tertiary: var(--abc-text-black-tertiary);

  &.dark {
    --app-text-base: var(--abc-text-white-base);
    --app-text-secondary: var(--abc-text-white-secondary);
    --app-text-tertiary: var(--abc-text-white-tertiary);
  }
}
