:root {
  // colors
  --primary-text-color: #333;
  --system-blue: rgb(0, 122, 255);
  --system-blue-hovered: rgb(0, 102, 255);
  --system-blue-active: rgb(0, 92, 245);
  --system-disabled: rgb(174, 174, 178);

  --system-border-radius: 6px;

  // sizes
  --container-width: 1200px;
  --container-padding: 32px;
  --header-height: 61px;
  --footer-height: 280px;

  --container-right-corner: calc(((100vw - var(--container-width)) / 2) + var(--container-width));
  --container-left-corner: calc(((100vw - var(--container-width)) / 2));

  @include respond-to-custom-width(840) {
    --container-padding: 24px;
  }

  // z-indexes
  --z-select-field: 1;
  --z-modal: 10;
}
